h2 contato

p Quer falar com a gente? Aguardamos sua mensagem via #{link_to('instagram', 'https://www.instagram.com/raizforte_/', target: :_blank)} ou #{link_to('facebook', 'https://www.facebook.com/raizforteoficial/', target: :_blank)}.

p Se preferir, envie um e-mail para #{mail_to('contato@raiz-forte.com', 'contato@raiz-forte.com')}.
