h2 parcerias

p Para saber mais sobre como anunciar seu produto no raiz-forte, mande um e-mail para #{mail_to('contato@raiz-forte.com', 'contato@raiz-forte.com')} com o assunto parcerias.
br
p Se você é especialista em alguma área dos pilares corpo, mente e alma e gostaria de se juntar ao coletivo de autores do site, mande um e-mail para #{mail_to('contato@raiz-forte.com', 'contato@raiz-forte.com')} com o assunto artigos.