html {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Kirvy Bold";
  src: url(/assets/fonts/KIRVY-BOLD.OTF) format("truetype");
}

@font-face {
  font-family: "Reef";
  src: url(/assets/fonts/REEF.OTF) format("truetype");
}

.body-container {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0 33px 33px 33px;
  height: 100%;
  padding-bottom: 50px;
  max-width: 100%;
}

footer {
  font-family: 'Kirvy Bold', sans-serif;
  height: 50px;
  position: absolute;
  width: 100%;
  margin-left: -33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h2 {
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    color: #666;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

header {
  .header {
    width: 100%;
    h1 {
      font-size: 90px;
    }
    font-family: 'Kirvy Bold', sans-serif;
    margin: 0px 0 75px 0;
  }
}

.logo-image img {
  margin-left: 80px;
  width: 150px;
}

.logo-name img {
  width: 150px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
    background-color: #FFF;
    background-image: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.navbar {
    position: relative;
    height: 150px;
    border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  font-weight: bold;
  background: none;
}

.navbar-nav li a {
  padding: 0 15px;
  line-height: 150px;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Reef', sans-serif;
  color: #030304;
  font-size: 16px;
}

.navbar-header a {
  padding: 0 15px;
  line-height: 150px;
}

.row {
  width: 100%;
}

.page-block {
  margin-left: auto;
  margin-right: auto;
  width: 700px;  
}

.body-photos img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

ul#unstyled, ul#unstyled li{
  list-style: none;
}
ul#unstyled {
  display: block;
  padding-left: 0;
}

ul#unstyled li {
  display: inline-block;
}

header .header {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  #main-container {
    width: 100%;
  }
}

li.contact-icon img {
  width: 100px;
  height: 100px;
}

#articles-container img {
  max-width: 100%;
  height: auto;
}
